button.btn.btn-gradient-purple-green{
    background-image: linear-gradient(to right, #552075, #00ff7f)!important;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button.btn.btn-gradient-purple-green:hover{
    background-image: linear-gradient(to right, #00ff7f, #552075)!important;
}