<div class="container main-container">
    <h1>Bar</h1>
    <p>Manual Bar Id: {{ManualConfig.barId}} -- Manual Bar Token: {{ManualConfig.barToken}}</p>
    <p>Bar service data: {{barData}}</p>
    <p>Bar 1: {{barDrink1}}</p>
    <p>Bar 2: {{barDrink2}}</p>
    <br><br><br><br>

    <h2>Progress: {{progress}}%</h2>
    <p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>

    <a href="javascript:void(0)" class="btn btn-success" (click)="processWithinAngularZone()">Processar dentro da Zona do Angular</a> &nbsp;
    <a href="javascript:void(0)" class="btn btn-danger" (click)="processOutsideOfAngularZone()">Processar fora da Zona do Angular</a>

</div>